nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: var(--primary);
}

nav ul li a:hover{
    
    color: var(--highlight);
}

.main{
    margin-top: 100px;
    padding: 0 0.5em;
}

@media  (min-width: 1024px){
}

@media (min-width: 768px) and (max-width: 1023px){
}

@media (min-width: 320px) and (max-width: 767px){
}
