:root {
    --navlinks-height: 80px;
    --drawer-width: 50vw;
}
/* https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
header {
    position: sticky;
    top: 0;
    z-index: 5;
    /* backdrop-filter: blur(4px); */
}

.test {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    background: transparent;
    z-index: 1;
    backdrop-filter: blur(4px);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Left Nav */

.left-nav{
    display: flex;
    align-items: center;
    gap: 0.05px;
    position: relative;
    z-index: 1;
}

/* .navbar .left-nav li{
    padding: 0.05rem;
} */

.navbar .left-nav a {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.navbar button {
    background: transparent;
}

.navbar .icon {
    color: var(--text);
    width: 20px;
    height: 20px;
}

.navbar .logo {
    color: var(--text);
    width: 30px;
    height: 30px;
}

.navbar button:hover .icon,
.navbar a:hover .logo {
    color: var(--highlight);
}

body #dark-icon {
    display: flex;
}

body #light-icon {
    display: none;
}

body.dark-mode #light-icon {
    display: flex;
}

body.dark-mode #dark-icon {
    display: none;
}


/* Right Nav */

.right-nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.right-nav li {
    padding: 0.25rem;
}

.right-nav li a{
    display: block;
    padding: 1rem;  /* 1*the font size of its parent element */
    text-decoration: none;
    color: var(--text);
}

.right-nav li a:hover{
    color: var(--highlight);
}

/* Right Nav - Menu Toggle */

.menu-toggle {
    display: none;
    background: transparent;
    cursor: pointer;
    border: none;
}


.menu-toggle svg {
    width: 24px;
    height: 24px; 
}

.drawer{
    display: none;
}

.blur {
    display: none;
    position: fixed;
    inset: 0; /* cover entire viewport top, right, bottom, left = 0 offset (entire viewport)*/
    z-index: 1;
    pointer-events: none;
}

/* 
button {
    transition: all 0.5s;
} */




@media  (min-width: 1024px){
}

@media (min-width: 768px) and (max-width: 1023px){
}

@media (min-width: 320px) and (max-width: 767px){

    /* Default Element Styling for Mobile */

    .right-nav {
        position: relative;
        z-index: 4;
    }

    .menu-toggle {
        display: inline-flex;
        color: var(--text);
    }

    .menu-toggle:hover {
        color: var(--highlight);
    }

    .right-nav .nav-links {
        position: fixed;
        top: 80px;
        right: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        width: 50vw;
        align-items: center;
        opacity: 0;
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        pointer-events: none;
        z-index: 4;
    }

    .drawer {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: var(--drawer-width);
        height: 100vh;
        z-index: 3;
        background-color: var(--secondary);
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
    }


    /* Open Menu Event Styling */


    body.menu-open {
        overflow: hidden;
    }


    body.menu-open .nav-links{
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }


    body.menu-open .drawer{
        transform: translateX(0);
    }

    body.menu-open .blur{ 
        display: block;
        pointer-events: auto;
        backdrop-filter: blur(4px);
    }


}
